* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../images/fix-bg.lG5n6.jpg");
  background-size: cover;
  position: relative;
}

.content {
  display: block;
  margin: 0 auto;
  max-width: 1100px;
  background: url("../images/fix-bg.jpg");
  min-height: 100vh;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: 900px;
}

.header_wrapper {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
  padding: 17px;
}

.header_nav {
  width: 320px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  justify-items: center;
  align-items: self-end;
}

.header_nav .item {
  max-width: 70px;
  text-align: center;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.header_nav .item img {
  width: 100%;
}

.header_nav .item span {
  display: block;
}

.header_logo {
  color: white;
  text-align: end;
}

.header_logo h2 {
  font-size: 30px;
}

.main {
  padding-bottom: 150px;
}

.main_wrapper {
  display: grid;
  grid-template-columns: repeat(1, 2.5fr 1fr);
}

.main_section .banner {
  max-width: 666px;
  background: #BBD0E7;
  border: 1px solid #808080;
  border-radius: 10px 10px 0px 0px;
  filter: drop-shadow(2px 4px 6px black);
  padding: 20px 10px 10px 10px;
}

.main_section .banner_header {
  display: grid;
  grid-template-columns: repeat(1, 1fr 1.5fr);
}

.main_section .banner_header_left {
  display: grid;
  grid-template-columns: repeat(1, 0fr 1fr);
  align-items: center;
}

.main_section .banner_header_left h4 {
  margin-left: 5px;
}

.main_section .banner_header_right {
  align-self: end;
  justify-self: end;
}

.main_section .banner p {
  color: #575757;
}

.main_section .banner a {
  color: #63a8e0;
}
/* sss */
.main_section .banner_content {
  margin-top: 10px;
  background: white;
  padding: 20px 10px;
  font-size: 18px;
  display: grid;
  grid-template-columns: 100%;
  justify-items: self-end;
  min-height: 150px;
}

.main_section .banner_content div{
  width: 100%;
}

.main_section .banner_content div a{
  display: block;
  margin-left: 15px;
}

.main_section .banner_content button {
  margin-top: 20px;
  width: 200px;
  padding: 2px 2px 5px 50px;
  border-radius: 5px;
  border: 2px solid #9a9a9a;
  color: #4ea5d2;
  background: #dadada87;
  cursor: pointer;
  align-self: end;
}

.main_aside {
  width: 234px;
  margin-left: 10px;
}

.main_aside .aside_autor {
  background: url("../images/about-top.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 15px;
  margin-top: 15px;
  padding: 10px 15px 104px 15px;
  background: #fffffffa;
  border: 1px solid black;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
}

.main_aside .aside_autor h3 {
  text-align: center;
  margin-bottom: 10px;
}

.main_aside .aside_autor::after {
  content: "";
  position: absolute;
  top: -15px;
  left: -1px;
  width: 101%;
  height: 15px;
  background: url("../images/about-top.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.main_aside .aside_title {
  margin-top: 8px;
  background: url("../images/sidebar-h.png");
  background-size: cover;
  padding: 2px 0px 5px 27px;
  color: white;
}

.main_aside .aside_content {
  width: 100%;
  background: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  padding: 15px;
}

.main_aside .aside_content a{
  color: #b9b9b9;
  text-decoration: none;
}

.main_aside .aside_content::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: black;
  left: 0px;
  bottom: 3px;
}

.main_aside .aside_content .item {
  position: relative;
}

.main_aside .aside_content .item::after {
  content: " ";
  background: url("../images/sidebar-li.gif");
  width: 4px;
  height: 6px;
  position: absolute;
  left: -8px;
  top: 7px;
}

.main_aside .aside_search input {
  width: 100%;
  position: relative;
  padding-right: 20px;
}

.main_aside .aside_search button {
  position: absolute;
  outline: none;
  background: none;
  border: none;
  right: 20px;
  cursor: pointer;
}

.main_aside .aside_comments span {
  color: black;
  font-weight: bold;
}

.main_aside .aside_meta span {
  border-bottom: 2px dashed #bbbbbb;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 10px;
}

.footer_banner {
  background: url("../images/credit-bg.png");
  background-size: cover;
  width: 401px;
  height: 78px;
  text-align: center;
  position: absolute;
  top: -66px;
  right: 61px;
  padding-top: 20px;
}

.footer_banner span {
  font-weight: bold;
}

.footer_buttons {
  background: linear-gradient(180deg, #e6e6e6 1%, #161616 48%);
  height: 40px;
  display: grid;
  grid-template-columns: repeat(1, 2.5fr 1fr);
  align-items: start;
}

.footer_buttons .left {
    display: grid;
    grid-template-columns: repeat(1, 0.5fr 5fr);
}

.footer_buttons .pusk img {
  margin-top: -20px;
  width: 90px;
  cursor: pointer;
}

.footer_buttons .nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, 0.2fr 0.2fr);
  max-width: 500px;
}


.footer_buttons a {
  background: url(../images/taskbar-li.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-decoration: none;
  min-width: 170px;
  height: 39px;
  display: block;
  text-align: center;
  padding-top: 7px;
  margin-right: 10px;
  background-position-y: -1px;
  margin-top: 1px;
}

.footer_buttons .right {
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(1, 1fr 1fr);
  width: 107px;
  align-items: center;
}

.footer_buttons .right .time {
  margin-left: 30px;
  margin-right: 5px;
  color: white;
}

.footer_contacts {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.footer_contacts a {
  color: black;
}

.open{
  display: none;
}

@media (min-width: 789px){
  .main_aside {
    display: block!important;
  }
}

@media (max-width: 787px) {
  .main_wrapper {
    grid-template-columns: 100%;
    justify-items: center;
  }
  .main_section{
    margin-bottom: 30px;
  }
  .main_aside {
    display: none;
    margin-top: 0px;
    width: 40%;
  }
  .open{
    display: block;
    margin: 0 auto;
    text-align: center;
    background: chartreuse;
  }
}

@media (max-width: 643px){
  .header_wrapper{
    justify-items: center;
  }
  .header_logo h2 {
    text-align: center;
  }
  .header_nav {
    order: 1;
    margin-top: 17px;
  }
}

@media (max-width: 361px){
  .header_wrapper{
    padding: 17px 0px;
  }
}

@media (max-width: 600px) {
  .main {
    padding-bottom: 128px;
  }
  .nav {
    display: none !important;
  }
  .footer_banner {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 257px;
    height: 78px;
    text-align: center;
    top: -40px;
    right: 67px;
    padding-top: 13px;
  }
}

@media (max-width: 542px) {
  .main_aside {
    width: 60%;
  }
}

@media (max-width: 500px){
  .banner_header{
    grid-template-columns: 100%!important;
  }
}
